
.pageLogin {
  padding-top: 200px;
}

.tamTotal {
  width: 100%;
}

.logo {
  height: 70px;
  padding-bottom: 10px;
}

.home {
  padding-top: 30px;
}

.tweetHome {
  list-style-type: none;
  text-align: left;
}
